.container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    padding: 20px;
    gap: 20px;
}

.image{
    margin-top: 50px;
    grid-column: span 3 / span 3;
}


.text{
    grid-column: span 7 / span 7;
}

@media screen and (max-width: 768px){
    .container {
        grid-template-columns: [start] minmax(0, 1fr) [end];
        align-items: center;
    }

    .image {
        margin: 0;

        grid-column: start/end;
    }

    .text{
        grid-column: start/end;
    }
}