@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    body {
        background-color: #030027;
        color: #ecf0f5;
    }
}

.grid-container{
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px 15px
}

.shadow-block{
    background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width:768px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px 15px
    }
}

@media screen and (max-width:480px) {
    .grid-container {
        grid-template-columns: minmax(0, 1fr);
        gap: 35px 15px
    }
}